/.idea
/node_modules
/public/hot
/public/storage
/public/ewo_lsImg
/public/ewo_coImg
/public/ewo_opinion
/public/upload
/public/json
/public/apk
/storage/*.key
/storage/fonts/*.*
/vendor
*.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
