ul.step::after {
  content: '';
  display: table;
  clear: both;
}

.board-plan .pic, .card .pic, .owl-carousel.owl-banner .pic, .owl-thumbs .owl-thumb-item .pic {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumb .breadcrumb-item, ul.list-info, .info-area, .empty-status, .table, .btn, .pagination, .form-group, .form-control, footer .container .copyright {
  font-family: "PingFang TC", "Noto Sans TC", "LiHei Pro", "Microsoft JhengHei", "Microsoft YaHei", sans-serif !important;
}

a, a:hover, a:active, a:focus, a:visited, button, button:hover, button:active, button:focus, button:visited {
  outline: none;
  text-decoration: none;
}

a {
  color: #333;
}

a:hover, a:focus {
  color: #0AA29B;
}

ul, ol {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: "Oswald","PingFang TC", "Noto Sans TC", "LiHei Pro", "Microsoft JhengHei", "Microsoft YaHei", sans-serif !important;
  color: #333;
  letter-spacing: 1px;
  line-height: 1.4;
  font-weight: 400;
  font-size: 1.6rem;
  padding: 0px;
  margin: 0px;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  padding-top: 70px;
  background-color: #333;
}

@media (max-width: 767px) {
  body {
    padding-top: 110px;
  }
}

@media (max-width: 580px) {
  body {
    padding-top: 50px;
  }
}

a.link {
  text-decoration: underline;
  color: #0AA29B;
}

hr {
  margin: 30px 0;
}

hr.hr-xs {
  margin: 10px 0px;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.w-120 {
  width: 120px !important;
}

.scroll-y {
  max-height: 200px;
  overflow-y: auto;
}

.pic {
  background-color: #f4f4f4;
}

.box-inline-block {
  display: inline-block;
}

.v-center {
  vertical-align: middle !important;
}

.text-center {
  text-align: center !important;
}

.text-xl {
  font-size: 2.8rem !important;
}

@media screen and (max-width: 580px) {
  .text-xl {
    font-size: 2rem !important;
  }
}

.text-lg {
  font-size: 1.8rem !important;
}

.text-md {
  font-size: 1.6rem !important;
}

.text-sm, small {
  font-size: 1.4rem !important;
}

.text-white {
  color: #fff !important;
}

.text-muted {
  color: #888 !important;
}

.text-grey {
  color: #666 !important;
}

.text-primary {
  color: #098a84 !important;
}

.text-primary li {
  text-align: left;
  font-size: 1.4rem;
  padding-top: 4px;
}

.text-info {
  color: #0FECB7 !important;
}

.text-success {
  color: #7cb192 !important;
}

.text-danger {
  color: #EC6556 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-grey {
  background-color: #eee !important;
}

.bg-grey-lighter {
  background-color: #FBFAF8 !important;
}

.bg-primary {
  background-color: #0AA29B !important;
}

.bg-danger {
  background-color: #EC6556 !important;
}

a.totop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: rgba(255, 255, 255, 0.8);
  color: #666;
  border: 1px solid #eee;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  opacity: 0;
  transition: ease-in-out 0.3s;
}

a.totop.active {
  opacity: 1;
}

@media (max-width: 767px) {
  a.totop {
    right: 15px;
  }
}

ul.list-unset, ol.list-unset {
  margin-left: 30px;
}

ul.list-unset li, ol.list-unset li {
  margin: 10px 0px;
}

ul.list-unset {
  list-style: disc;
}

ol.list-unset {
  list-style: decimal;
}

.gap {
  color: rgba(0, 0, 0, 0.1);
  margin: 0px 5px;
}

.tip {
  margin-top: 5px;
  font-size: 1.4rem;
  color: #666;
}

.tip i, .tip img {
  margin-right: 8px;
}

.tip img {
  width: 20px;
}

.badge {
  font-weight: 500;
}

.badge-info {
  background: #0FECB7;
}

.breadcrumb {
  background: transparent;
  margin: 40px 0px;
  padding: 0px;
}

.breadcrumb .breadcrumb-item {
  font-size: 1.4rem;
}

.breadcrumb .breadcrumb-item a {
  color: #666;
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "\f105";
  font-family: "FontAwesome";
}

.breadcrumb .breadcrumb-item.active a {
  color: #333;
}

@media (max-width: 767px) {
  .breadcrumb {
    margin: 20px 0 10px 0;
  }
}

.tag {
  border-radius: 2px;
  padding: 5px;
  font-size: 1.2rem;
  display: inline-block;
}

.tag-primary {
  background: #433EC7;
  color: #fff;
}

.tag-default {
  background: #eee;
  color: #666;
}

ul.list-item {
  display: -ms-flexbox;
  display: flex;
}

ul.list-item li {
  text-align: center;
  margin: 0 30px 20px 0;
}

ul.list-item li .icon {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  line-height: 100px;
  text-align: center;
  background: #5D6677;
}

ul.list-item li .icon img {
  width: 50px;
  vertical-align: middle;
}

ul.list-item li .text {
  font-weight: bold;
  margin-top: 10px;
}

.func-tool {
  margin-top: 20px;
  padding-top: 20px;
}

.func-tool .btn + .btn {
  margin-left: 10px;
}

@media (max-width: 767px) {
  .func-tool {
    text-align: center;
  }
}

ul.step {
  margin: 40px 0 20px 0;
}

ul.step li {
  float: left;
  border-bottom: 3px solid #eee;
  text-align: center;
  padding: 10px 20px;
  opacity: .4;
  font-size: 1.4rem;
}

ul.step li.active {
  border-bottom-color: #0AA29B;
  opacity: 1;
  font-weight: bold;
  font-size: 1.6rem;
}

@media (max-width: 991px) {
  ul.step li {
    width: 20%;
  }
  ul.step li span {
    display: none;
  }
}

ul.list-info {
  margin-bottom: 30px;
}

ul.list-info li {
  margin: 7px 0;
}

.info-area {
  padding: 15px 10px;
  background: #f4f4f4;
  border-radius: 4px;
  margin-top: 30px;
  font-size: 1.4rem;
}

.board {
  background: #fff;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.board h1 {
  margin-bottom: 20px;
}

.board-plan h1 .badge {
  margin-right: 5px;
  vertical-align: middle;
}

.board-plan .pic {
  padding-bottom: 60%;
  border-radius: 4px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transform: translate(-70px, -30px);
}

.board-plan .con {
  position: relative;
  margin-left: -60px;
  margin-bottom: 20px;
}

.board-plan .con .text {
  margin-top: 10px;
}

.board-plan .con .price {
  font-size: 2.8rem;
  font-weight: bold;
  color: #0AA29B;
  margin-top: 20px;
}

.board-plan .con .btn {
  position: absolute;
  bottom: -20px;
  right: 0px;
}

.board-plan .sub-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 20px 0;
}

.board-plan .sub-title::after {
  content: '';
  display: block;
  width: 20px;
  height: 4px;
  background: #0AA29B;
  margin-top: 10px;
}

.board-plan .form-group .col-auto label {
  min-width: 95px;
}

@media (max-width: 1200px) {
  .board-plan .con h1 {
    font-size: 2rem;
  }
}

@media (max-width: 991px) {
  .board-plan .con .btn {
    bottom: 0px;
  }
}

@media (max-width: 767px) {
  .board-plan .pic {
    transform: translate(0px, 0px);
    margin-bottom: 10px;
  }
  .board-plan .con {
    margin: 0 0 15px 0;
    text-align: center;
  }
  .board-plan .con .btn {
    position: static;
    width: 100%;
    margin-top: 10px;
  }
}

.board-search {
  margin-bottom: 30px;
}

.board-search .empty-status {
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .board-search .form-control {
    margin: 5px 0 15px 0;
  }
}

@media (max-width: 767px) {
  .board {
    padding: 20px;
  }
}

.empty-status {
  text-align: center;
}

.empty-status .icon {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  line-height: 150px;
  text-align: center;
  display: inline-block;
  font-size: 6rem;
  color: #fff;
  margin-top: 80px;
  background: #9199a9;
}

.empty-status .title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 15px;
}

.empty-status .text {
  margin-top: 10px;
}

@media (max-width: 580px) {
  .empty-status .icon {
    width: 120px;
    height: 120px;
    border-radius: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 5rem;
  }
  .empty-status .title {
    font-size: 2rem;
  }
}

.table th, .table td {
  padding: 12px 10px;
}

@media (max-width: 767px) {
  .table th, .table td {
    font-size: 1.4rem;
  }
}

.badge {
  color: #fff;
  font-size: 1.4rem;
}

.badge.bg-grey {
  color: #666;
}

.btn {
  padding: 10px 20px 15px 20px;
  font-weight: 500;
  font-size: 1.6rem;
  border-radius: 4px;
  transition: ease-in-out 0.3s;
  min-width: 140px;
}

.btn:hover {
  transform: translateY(-5px);
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: 0px;
  outline-offset: 0px;
}

.btn.disabled {
  opacity: .3;
  cursor: not-allowed;
}

.btn img, .btn i {
  margin-right: 5px;
}

@media (max-width: 767px) {
  .btn {
    padding: 12px 15px;
    font-size: 1.4rem;
    min-width: 100px;
  }
}

.btn-sm {
  padding: 9px 20px;
  height: 40px;
  font-size: 1.4rem;
}

.btn-default, .btn-default:focus, .btn-default.focus, .btn-default:hover, .btn-default:active, .btn-default.active,
.open > .btn-default.dropdown-toggle {
  color: #333;
  background-color: #fff !important;
  border-color: #eee !important;
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-default:hover {
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-default:focus, .btn-default.focus {
  box-shadow: none;
  outline: 0px !important;
}

@media screen and (max-width: 767px) {
  .btn-default:focus, .btn-default.focus {
    opacity: 1;
  }
}

.btn-primary, .btn-primary:focus, .btn-primary.focus, .btn-primary:hover, .btn-primary:active, .btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0AA29B !important;
  border-color: #0AA29B !important;
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: none;
  outline: 0px !important;
}

@media screen and (max-width: 767px) {
  .btn-primary:focus, .btn-primary.focus {
    opacity: 1;
  }
}

.btn-secondary, .btn-secondary:focus, .btn-secondary.focus, .btn-secondary:hover, .btn-secondary:active, .btn-secondary.active,
.open > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #433EC7 !important;
  border-color: #433EC7 !important;
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-secondary:hover {
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: none;
  outline: 0px !important;
}

@media screen and (max-width: 767px) {
  .btn-secondary:focus, .btn-secondary.focus {
    opacity: 1;
  }
}

.btn-info, .btn-info:focus, .btn-info.focus, .btn-info:hover, .btn-info:active, .btn-info.active,
.open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #0FECB7 !important;
  border-color: #0FECB7 !important;
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-info:hover {
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-info:focus, .btn-info.focus {
  box-shadow: none;
  outline: 0px !important;
}

@media screen and (max-width: 767px) {
  .btn-info:focus, .btn-info.focus {
    opacity: 1;
  }
}

.btn-warning, .btn-warning:focus, .btn-warning.focus, .btn-warning:hover, .btn-warning:active, .btn-warning.active,
.open > .btn-warning.dropdown-toggle {
  color: #333;
  background-color: #FDD000 !important;
  border-color: #FDD000 !important;
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-warning:hover {
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-warning:focus, .btn-warning.focus {
  box-shadow: none;
  outline: 0px !important;
}

@media screen and (max-width: 767px) {
  .btn-warning:focus, .btn-warning.focus {
    opacity: 1;
  }
}

.btn-danger, .btn-danger:focus, .btn-danger.focus, .btn-danger:hover, .btn-danger:active, .btn-danger.active,
.open > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #EC6556 !important;
  border-color: #EC6556 !important;
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-danger:hover {
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: none;
  outline: 0px !important;
}

@media screen and (max-width: 767px) {
  .btn-danger:focus, .btn-danger.focus {
    opacity: 1;
  }
}

.btn-link, .btn-link:focus, .btn-link.focus, .btn-link:hover, .btn-link:active, .btn-link.active,
.open > .btn-link.dropdown-toggle {
  color: #888;
  background-color: #fff !important;
  border-color: #fff !important;
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-link:hover {
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-link:focus, .btn-link.focus {
  box-shadow: none;
  outline: 0px !important;
}

@media screen and (max-width: 767px) {
  .btn-link:focus, .btn-link.focus {
    opacity: 1;
  }
}

.btn-line-primary, .btn-line-primary:focus, .btn-line-primary.focus, .btn-line-primary:hover, .btn-line-primary:active, .btn-line-primary.active,
.open > .btn-line-primary.dropdown-toggle {
  color: #0AA29B;
  background-color: #fff !important;
  border-color: #0AA29B !important;
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-line-primary:hover {
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-line-primary:focus, .btn-line-primary.focus {
  box-shadow: none;
  outline: 0px !important;
}

@media screen and (max-width: 767px) {
  .btn-line-primary:focus, .btn-line-primary.focus {
    opacity: 1;
  }
}

.btn-grey, .btn-grey:focus, .btn-grey.focus, .btn-grey:hover, .btn-grey:active, .btn-grey.active,
.open > .btn-grey.dropdown-toggle {
  color: #fff;
  background-color: #888 !important;
  border-color: #888 !important;
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-grey:hover {
  box-shadow: 0px -5px 0px rgba(0, 0, 0, 0.1) inset, 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.btn-grey:focus, .btn-grey.focus {
  box-shadow: none;
  outline: 0px !important;
}

@media screen and (max-width: 767px) {
  .btn-grey:focus, .btn-grey.focus {
    opacity: 1;
  }
}

.btn-wow {
  color: #fff;
  border: none;
  background-image: linear-gradient(135deg, #0AA29B, #0FECB7);
}

.btn-wow:hover, .btn-wow:active, .btn-wow:focus {
  color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.btn-fb {
  color: #fff;
  border: none;
  background: #3B5997;
}

.btn-fb:hover, .btn-fb:active, .btn-fb:focus {
  color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.btn-circle {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  line-height: 35px;
  text-align: center;
  padding: 0px;
  min-width: 35px;
}

.btn-circle i, .btn-circle img {
  margin: 0px;
}

.btn-circle img {
  width: 24px;
}

.btn-rounded {
  border-radius: 35px;
  min-width: 100px;
}

.btn-remove {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  line-height: 24px;
  text-align: center;
  padding: 0px;
  background: #d8dcdf;
}

.btn-remove img {
  width: 18px;
  opacity: .4;
  top: -2px;
  position: relative;
}

.btn-remove:hover {
  opacity: .7;
}

.btn-upload {
  position: relative;
}

.btn-upload input {
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.note-toolbar .btn {
  transform: none;
}

.pagination {
  margin: 40px 0;
}

.pagination .page-item {
  margin: 0px 5px;
}

.pagination .page-item .page-link {
  border: none;
  padding: 10px 15px;
  color: #666;
  border-radius: 4px;
}

.pagination .page-item.active .page-link {
  background: #5D6677;
  color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: 600;
}

.form-group .tip {
  margin-top: 8px;
  font-size: 1.2rem;
}

.form-group.has-error .form-control {
  border-color: #EC6556 !important;
  color: #EC6556 !important;
}

.form-group.has-error .tip {
  color: #EC6556 !important;
}

.form-group.disabled label {
  opacity: .4;
}

@media (max-width: 767px) {
  .form-group {
    margin-bottom: 20px;
  }
}

.form-control {
  border-radius: 4px;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: #333;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #aaa;
}

.form-control:disabled {
  background: none;
  opacity: .3;
}

.form-control.has-error {
  border-color: #EC6556 !important;
  color: #EC6556 !important;
}

.form-control-sm {
  height: 40px !important;
  background-size: 10px 6px !important;
  background-position: top 18px right 10px !important;
  font-size: 1.4rem !important;
}

input.form-control {
  height: 45px;
}

select.form-control {
  background-image: url("../img/ic_angle.svg");
  background-size: 13px 9px;
  background-repeat: no-repeat;
  background-position: top 20px right 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 25px 0 10px;
  height: 50px;
  font-size: 1.6rem;
  grid-template-columns: fit-content(300px) fit-content(300px) 1fr;
}

select.form-control option {
  color: #333;
}

.radio,
.checkbox {
  position: relative;
  font-size: 1.6rem !important;
}

.radio label,
.checkbox label {
  margin: 0px;
  cursor: pointer;
  font-weight: normal !important;
}

.radio input,
.checkbox input {
  display: none;
}

.radio input:checked + .input-mark,
.checkbox input:checked + .input-mark {
  background: #0AA29B;
  border-color: #0AA29B;
}

.radio .input-mark,
.checkbox .input-mark {
  width: 24px;
  height: 24px;
  display: inline-block;
  border: 1.5px solid #eee;
  background: #fff;
  border-radius: 2px;
  vertical-align: middle;
}

.radio.disabled,
.checkbox.disabled {
  pointer-events: none;
}

.radio.disabled label,
.checkbox.disabled label {
  cursor: not-allowed;
}

.radio.disabled .input-mark,
.checkbox.disabled .input-mark {
  border-color: rgba(0, 0, 0, 0.2);
}

.radio input:checked + .input-mark::after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  line-height: 8px;
  text-align: center;
  top: 8px;
  left: 8px;
  background: #fff;
}

.radio .input-mark {
  border-radius: 50%;
}

.checkbox input:checked + .input-mark::after {
  content: '';
  display: block;
  position: absolute;
  width: 12px;
  height: 6px;
  transform: rotate(-45deg);
  border: 2px solid #fff;
  border-right: none;
  border-top: none;
  top: 8px;
  left: 5px;
}

.form-inline .radio, .form-inline .checkbox {
  margin-right: 10px;
}

.card {
  padding: 0px;
  position: relative;
  border: none;
  transition: ease-in-out 0.3s;
}

.card-plan {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.card-plan .pic-dtv {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 40%;
}

.card-plan .pic-dtv-packs {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 70%;
}

.card-plan .pic-dtv-input {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 450px;
}

.card-plan .password input {
  position: relative;
  border: none;
  width: 400px;
  height: 70px;
  bottom: 350px;
  left: 0px;
  font-size: 24px;
  letter-spacing: 20px;
}

.password_C input {
  position: relative;
  border: none;
  width: 400px;
  height: 70px;
  bottom: 350px;
  left: 0px;
  font-size: 24px;
  letter-spacing: 20px;
}

.card-plan .pic {
  padding-bottom: 20%;
}

.card-plan h4 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  font-weight: 300;
  font-size: 16px;
}

.card-plan .con {
  padding: 15px;
}

.card-plan .con .title, .card-plan .con .text, .card-plan .con .text-s {
  min-height: 40px;
}

.card-plan .con .title {
  font-size: 2.4rem;
  font-weight: bold;
  color: #333;
}

.card-plan .con .text {
  color: #666;
  margin-top: 10px;
}

.card-plan .con .text-s {
  color: #666;
  margin-top: 4px;
}

.card-plan .con .price {
  font-size: 2.8rem;
  color: #AA424B;
  margin-top: 20px;
  font-weight: bold;
}

@media (max-width: 767px) {
  .card-plan .con .price {
    font-size: 2rem;
  }
}

.card-queue {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.card-queue li {
  font-size: 1.8rem;
  margin: 7px 0;
}

.card:hover {
  transform: translateY(-3px);
}

.card:active {
  /*
  transform: translateY(-10px);
  transform: scale(0.95);
  font-size: 1.4rem;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  border-left: 3px solid rgb(172, 26, 87);
  border-right: 3px solid rgb(172, 26, 87);
  border-top: 3px solid rgb(172, 26, 87);
  border-bottom: 3px solid rgb(172, 26, 87);
  */
}

.itemSC {
  padding: 0 0px;
}

.itemSC.actived {
  box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
  border-left: 3px solid rgb(172, 26, 87);
  border-right: 3px solid rgb(172, 26, 87);
  border-top: 5px solid rgb(172, 26, 87);
  border-bottom: 3px solid rgb(172, 26, 87);
}

.owl-carousel {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.owl-carousel .owl-nav > * {
  position: absolute;
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: rgba(0, 0, 0, 0.2);
}

.owl-carousel .owl-nav > *.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev {
  left: -60px;
}

.owl-carousel .owl-nav .owl-next {
  right: -60px;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  margin: 0px 5px;
  transition: ease-in-out 0.3s;
  border-color: #eee;
}

.owl-carousel .owl-dots .owl-dot span {
  background: #eee;
  width: 30px;
  height: 5px;
  display: inline-block;
  position: relative;
  top: 9px;
}

.owl-carousel .owl-dots .owl-dot.active span {
  background: #0AA29B;
}

.owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
}

.owl-carousel.owl-banner {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.owl-carousel.owl-banner .pic {
  padding-bottom: 10%;
  position: relative;
}

@media (max-width: 767px) {
  .owl-carousel.owl-banner .pic {
    height: 200px;
  }
}

.owl-carousel.owl-banner .owl-item.active .con .board {
  transform: translateX(0px);
  opacity: 1;
}

.owl-carousel.owl-banner .owl-dots {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), black);
  white-space: nowrap;
  overflow-x: auto;
  padding: 0 10px;
}

.owl-carousel.owl-banner .owl-dots .owl-dot .item-banner-title {
  color: #fff;
  opacity: .7;
  border-bottom: 4px solid transparent;
  padding: 20px 10px;
  margin: 0px 3px;
}

.owl-carousel.owl-banner .owl-dots .owl-dot.active .item-banner-title {
  opacity: 1;
  border-bottom-color: #0AA29B;
}

.owl-carousel.owl-plan .owl-stage-outer {
  padding: 10px 0;
}

.owl-thumbs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.owl-thumbs .owl-thumb-item {
  margin: 10px 5px;
  opacity: .5;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.owl-thumbs .owl-thumb-item .pic {
  width: 80px;
  height: 20px;
}

.owl-thumbs .owl-thumb-item.active {
  opacity: 1;
}

.nav-tabs {
  border-bottom: 1px solid #eee;
  margin-top: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  display: block;
}

.nav-tabs .nav-item {
  display: inline-block;
}

.nav-tabs .nav-item .nav-link {
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 0px;
  color: #666;
  opacity: .5;
  padding: 10px 16px;
  border: none !important;
  border-bottom: 3px solid #fff !important;
}

.nav-tabs .nav-item .nav-link.active {
  border-color: #433EC7 !important;
  opacity: 1;
  font-weight: 500;
}

@media (max-width: 767px) {
  .nav-tabs .nav-item .nav-link {
    font-size: 1.6rem;
    padding: 10px;
  }
}

.tab-content .tab-pane {
  padding: 24px 0;
  line-height: 1.8;
  min-height: 300px;
}

.tab-content .tab-pane img {
  max-width: 100%;
}

.modal .modal-dialog {
  max-width: 600px;
}

.modal .modal-dialog .modal-content {
  border: none;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
}

.modal .modal-dialog .modal-content .modal-header,
.modal .modal-dialog .modal-content .modal-body,
.modal .modal-dialog .modal-content .modal-footer {
  padding: 15px 30px;
}

.modal .modal-dialog .modal-content .modal-header {
  border: none;
}

.modal .modal-dialog .modal-content .modal-header .modal-title, .modal .modal-dialog .modal-content .modal-header .close {
  font-size: 1.8rem;
}

.modal .modal-dialog .modal-content .modal-body .form-group label {
  font-weight: 400;
}

.modal .modal-dialog .modal-content .modal-footer {
  border-top: none;
}

.modal .modal-dialog.modal-lg {
  max-width: 800px;
}

.modal-backdrop.show {
  opacity: .7;
}

.alert-fix {
  position: fixed;
  top: 100px;
  right: 20px;
  background: #fff;
  padding: 20px 30px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border-top: 3px solid #0FECB7;
  z-index: 1020;
}

.alert-fix .icon {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  line-height: 35px;
  text-align: center;
  background: #0FECB7;
  color: #fff;
  position: absolute;
  top: -10px;
  left: -10px;
}

.alert-fix .text {
  font-size: 1.4rem;
}

.alert-fix .close {
  font-size: 1.6rem;
}

@media (max-width: 580px) {
  .alert {
    top: auto;
    bottom: 10px;
  }
}

header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 0;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  z-index: 1020;
  background: #fff;
  font-weight: bold;
}

header .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

header a.logo {
  color: #333;
}

header a.logo img {
  /*width: 270px;*/
  height: 20px;
  margin-right: 10px;
}

header nav ul {
  display: -ms-flexbox;
  display: flex;
}

header nav ul li a {
  padding: 0 10px;
  color: #333;
}

header nav ul li.active a, header nav ul li a:hover {
  color: #0AA29B;
}

@media (max-width: 991px) {
  header {
    font-size: 1.4rem;
  }
}

@media (max-width: 767px) {
  header {
    text-align: center;
    padding: 20px 0 0 0;
  }
  header nav {
    margin: 20px -15px 0 -15px;
  }
  header nav ul {
    -ms-flex-pack: center;
        justify-content: center;
  }
  header nav ul li a {
    display: block;
    padding: 10px 10px;
  }
}

@media (max-width: 580px) {
  header {
    text-align: center;
    padding: 10px 0 0 0;
  }
  header nav {
    margin: 0 -15px 0 -15px;
  }
  header ul li a {
    padding: 10px 3px;
  }
}

footer {
  margin-top: 40px;
  border-top: 1px solid #eee;
  border-bottom: 10px solid #0AA29B;
  padding: 40px 0;
  font-size: 1.4rem;
}

footer .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: baseline;
}

footer .container a.logo img {
  width: 135px;
}

footer .container ul li {
  display: inline-block;
  padding: 0px 10px;
  border-right: 1px solid #f4f4f4;
}

footer .container ul li:last-child {
  border: none;
}

footer .container ul li a {
  color: #333;
}

footer .container .copyright {
  font-size: 1.2rem;
  margin-left: auto;
  padding: 0px 10px;
}

@media (max-width: 767px) {
  footer .container {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  footer .container ul {
    margin: 20px 0 40px 0;
  }
  footer .container .copyright {
    margin: 0;
  }
}

main {
  min-height: 80vh;
}

.area {
  padding: 10px 0;
  text-align: center;
}

.area h2 {
  font-size: 3.2rem;
}

.area h2 .sub-title {
  opacity: .5;
  font-size: 2.6rem;
  margin-top: 5px;
}

.area h2 .sub-title-dtv {
  opacity: .5;
  font-size: 2.0rem;
  font-weight: 400;
  margin-top: 5px;
  text-align: left;
  color: #caf75f;
}

@media (max-width: 767px) {
  .area h2 {
    font-size: 2.8rem;
  }
  .area h2 .sub-title {
    font-size: 2rem;
  }
  .area h2 .sub-title-dtv {
    font-size: 1.8rem;
  }
}

.area-plan {
  text-align: center;
}

.area-plan .form-inline {
  -ms-flex-pack: center;
      justify-content: center;
  margin: 20px 0 40px 0;
}

.area-plan .form-inline .form-control {
  width: 300px;
  margin: 0 5px;
}

@media (max-width: 767px) {
  .area-plan .form-inline {
    margin-bottom: 20px;
  }
}

.area-plan .sub-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 20px 0;
}

.area-plan .sub-title::after {
  content: '';
  display: block;
  width: 20px;
  height: 4px;
  background: #0AA29B;
  margin-top: 10px;
}
